# Ignore Python bytecode cache directory
__pycache__/*
.vscode/*
# Ignore specific Python script files
/try.py
/gui.py
/tempCodeRunnerFile.py

# Ignore all files inside these folders
/output/*
/attendance/*
/assets/*

# Except for the ".gitkeep" files inside these folders
!output/.gitkeep
!attendance/.gitkeep
